html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end reset */

/* --------------------------------------------------------------

   Basic WordPress Blog Styles

-------------------------------------------------------------- */

/* Images
-------------------------------------------------------------- */

a {
  text-decoration: none;
}
.entry-content img {
  margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter, img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  text-align: center;
  margin-bottom: 1.5em;
}
.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  margin: 0;
}
.wp-smiley {
  max-height: 1em;
  margin: 0 !important;
}
.gallery dl {
  margin: 0;
}
.gallery-caption {
  margin: -1.5em 0 0 0;
}
/* Pullquotes
-------------------------------------------------------------- */

blockquote.left {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  text-align: right;
  width: 33%;
}
blockquote.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
  text-align: left;
  width: 33%;
}
#main-nav {
  height: 30px; /* set to the height you want your menu to be */
  margin: 0 0 10px; /* just to give some spacing */
}
#main-nav ul {
  margin: 0;
  padding: 0; /* only needed if you have not done a CSS reset */
}
#main-nav li {
  display: block;
  float: left;
  line-height: 30px; /* this should be the same as your #main-nav height */
  height: 30px; /* this should be the same as your #main-nav height */
  margin: 0;
  padding: 0; /* only needed if you don't have a reset */
  position: relative; /* this is needed in order to position sub menus */
}
#main-nav li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
#main-nav .current-menu-item a, #main-nav .current_page_item a, #main-nav a:hover {
  color: #000;
  background: #ccc;
}
#main-nav ul ul { /* this targets all sub menus */
  display: none; /* hide all sub menus from view */
  position: absolute;
  top: 30px; /* this should be the same height as the top level menu -- height + padding + borders */
}
#main-nav ul ul li { /* this targets all submenu items */
  float: none; /* overwriting our float up above */
  width: 150px; /* set to the width you want your sub menus to be. This needs to match the value we set below */
}
#main-nav ul ul li a { /* target all sub menu item links */
  padding: 5px 10px; /* give our sub menu links a nice button feel */
}
#main-nav ul li:hover > ul {
  display: block; /* show sub menus when hovering over a parent */
}
#main-nav ul ul li ul {
  /* target all second, third, and deeper level sub menus */
  left: 150px; /* this needs to match the sub menu width set above -- width + padding + borders */
  top: 0; /* this ensures the sub menu starts in line with its parent item */
}



/** VARIABLES */
@import "variables.less";

/** DEFAULTS */
img {
  max-width: 100%;
  margin: 0;
}
input[type='submit'], input[type='email'], input[type='text'], textarea {
  -webkit-appearance: none;
}
*:focus {
  outline: none;
}
a, input[type=submit], input[type=text], input[type=email], input[type=password], textarea{
  transition: all 0.3s;
  -webkit-transition: all 0.3s; /* Safari */
}
a, span {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
* {
  font-family: 'Roboto', sans-serif;
  color: @black;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 1020px;
}
.clearfix {
  clear: both;
}
.gmnoprint img {
  max-width: none;
}
.overhid {
  overflow: hidden;
}
strong, span, em, a {
  color: inherit;
  font-size: inherit;
}
strong, b {
  font-weight: 600;
}
i, em {
  font-style: italic;
}
.align_center {
  text-align: center;
}

