/** MIXINS */

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation: @name @duration @delay @ease;
  -ms-animation: @name @duration @delay @ease;
}

.hlh(@val) {
  height: @val;
  line-height: @val;
}

.vertical_align_center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholder(@color, @opacity) {
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: @color;
    opacity: @opacity;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: @color;
    opacity: @opacity;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: @color;
    opacity: @opacity;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @color;
    opacity: @opacity;
  }
}

.sprite (@x, @y) {
  background: url("img/sprite.png") @x @y no-repeat;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

@black: #000;
@white: #fff;
@main_color: green;

@input_width: 300px;