/* COLORS 
	mainpink 	: #e9185f
	dark pink	: #b8134b
	darker pink	: #b01248
	black		: #1e1e1e
*/	
/** VARIABLES */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-model: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end reset */
/* --------------------------------------------------------------

   Basic WordPress Blog Styles

-------------------------------------------------------------- */
/* Images
-------------------------------------------------------------- */
a {
  text-decoration: none;
}
.entry-content img {
  margin: 0 0 1.5em 0;
}
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  text-align: center;
  margin-bottom: 1.5em;
}
.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  margin: 0;
}
.wp-smiley {
  max-height: 1em;
  margin: 0 !important;
}
.gallery dl {
  margin: 0;
}
.gallery-caption {
  margin: -1.5em 0 0 0;
}
/* Pullquotes
-------------------------------------------------------------- */
blockquote.left {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  text-align: right;
  width: 33%;
}
blockquote.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
  text-align: left;
  width: 33%;
}
#main-nav {
  height: 30px;
  /* set to the height you want your menu to be */
  margin: 0 0 10px;
  /* just to give some spacing */
}
#main-nav ul {
  margin: 0;
  padding: 0;
  /* only needed if you have not done a CSS reset */
}
#main-nav li {
  display: block;
  float: left;
  line-height: 30px;
  /* this should be the same as your #main-nav height */
  height: 30px;
  /* this should be the same as your #main-nav height */
  margin: 0;
  padding: 0;
  /* only needed if you don't have a reset */
  position: relative;
  /* this is needed in order to position sub menus */
}
#main-nav li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
#main-nav .current-menu-item a,
#main-nav .current_page_item a,
#main-nav a:hover {
  color: #000;
  background: #ccc;
}
#main-nav ul ul {
  /* this targets all sub menus */
  display: none;
  /* hide all sub menus from view */
  position: absolute;
  top: 30px;
  /* this should be the same height as the top level menu -- height + padding + borders */
}
#main-nav ul ul li {
  /* this targets all submenu items */
  float: none;
  /* overwriting our float up above */
  width: 150px;
  /* set to the width you want your sub menus to be. This needs to match the value we set below */
}
#main-nav ul ul li a {
  /* target all sub menu item links */
  padding: 5px 10px;
  /* give our sub menu links a nice button feel */
}
#main-nav ul li:hover > ul {
  display: block;
  /* show sub menus when hovering over a parent */
}
#main-nav ul ul li ul {
  /* target all second, third, and deeper level sub menus */
  left: 150px;
  /* this needs to match the sub menu width set above -- width + padding + borders */
  top: 0;
  /* this ensures the sub menu starts in line with its parent item */
}
/** VARIABLES */
/** MIXINS */
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
/** DEFAULTS */
img {
  max-width: 100%;
  margin: 0;
}
input[type='submit'],
input[type='email'],
input[type='text'],
textarea {
  -webkit-appearance: none;
}
*:focus {
  outline: none;
}
a,
input[type=submit],
input[type=text],
input[type=email],
input[type=password],
textarea {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  /* Safari */
}
a,
span {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
* {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.clearfix:after, header:after, footer:after, .container:after {
  	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
.gmnoprint img {
  max-width: none;
}
.overhid {
  overflow: hidden;
}
strong,
span,
em,
a {
  color: inherit;
  font-size: inherit;
}
strong,
b {
  font-weight: 600;
}
i,
em {
  font-style: italic;
}
.align_center {
  text-align: center;
}
/** CUSTOM */
h1 {
  font-size: 1.7em;
  margin-bottom: 1em;
}
	.homepage h1, .viewproduct h1 {
		background-color: #FFF;
		}
h1.not_bold {
  font-weight: normal;
}
h1.align_center {
  text-transform: uppercase;
  font-size: 30px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type=text] {
  border: 1px solid #000;
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
}
input[type=text]:focus {
  border-color: #b8134b;
}
textarea {
  border: 1px solid #000;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
}
textarea:focus {
  border-color: #b8134b;
}
input[type=file] {
  margin-bottom: 20px;
  cursor: pointer;
}
input[type=file]:hover {
  color: #b8134b;
}
input[type=submit] {
  margin-bottom: 20px;
  background: #b8134b;
  width: 150px;
  text-align: center;
  padding: 0 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
input[type=submit]:hover {
  background: #001a00;
}


.container {
	position: relative;
	margin: 0 auto;
	width: 1020px;
	padding: 3em 0;
	}

header,
footer {
  /*background: #4dff4d;*/
}
header {
	padding: 1em 0;
	border-bottom: 1px solid #e9185f;
	-webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
	}
	header .container {
		padding: 0;
		}
		header .header_left {
		  float: left;
			}
		header .header_right {
			float: right;
			line-height: 120px;
			}
			.facebook_login, .black_button {
				display: inline-block;
				}
			.facebook_login {
				position: absolute;
				top: 55px;
				right: 73px;
				}
			.black_button {
				background: #b8134b;
				color: #fff;
				text-transform: uppercase;
				line-height: 4em;
				padding: 0 2em;
				border-radius: 0.7em;				
				}
			.black_button:hover {
				background-color: #b01248;
				box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
				}				
				
ng-view {
	display: block;
	/*background-color: #EEE;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1) inset; 
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1) inset;*/
	}
	.pattern ng-view {
		background: transparent url(img/pattern_04.png);
		}

footer {
	background-color: #1e1e1e;
	border-top: 0.4em solid #e9185f;
	}
	footer * {
		color: #444;
		text-align: center;
		}
	footer .container {
		padding: 2em 0 4em 0;
		}
		.footer_logo {
			width: 120px;
			}
		footer .container p {
			margin: 1.5em 0;
			}
		footer .container p > a {
			display: inline-block;
			color: #666;
			}
			footer .container p > a:hover,
			footer .container p > a:focus {
				color: #b8134b;
				}
		footer .container p > .separator {
			margin: 0 1em;
			color: #333;
			}
		
p a {
  color: #b8134b;
}
h2 {
	font-size: 1.3em;
	font-weight: normal;
	color: #b8134b;
	margin: 0 0 1em 0;
	}
.video_container {
  margin-bottom: 20px;
	overflow: hidden;
	height: 500px;

}

.video_container video {
	margin-top: -50px;
	margin-bottom: -50px;
}


.logo {
	display: block;
	background: #FFF url('img/logo_web.png') no-repeat left top;
	background-size: cover;
	width: 144px;
	height: 120px;	
	}

/* homepage */
	.homepage {}
		.homepage h1 {
			margin: 2em 0;
			}
		.product {
			width: 22%;
			margin: 0 4% 2.2em 0;
			float: left;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			position: relative;
			}
		.product:nth-child(4n) {
			margin-right: 0;
			}
		.product * {
			transition: all 0.2s;
			-webkit-transition: all 0.2s;			
			}
			.product .product_img {
				height: 200px;
				display: block;
				background-size: cover;
				background-repeat: no-repeat;
				border-radius: 0.8em;				
				}
			.product:hover .product_img {
				-webkit-opacity: 0.7;
				-moz-opacity: 0.7;
				opacity: 0.7;
				}
			.prod_title {
				text-align: center;
				margin: 0.7em 0 0 0;
				position: absolute;
				/*width: 84.5%;*/
				width: 100%;
				bottom: 1.6em;
				}
			.prod_title > span {
				background: rgba(255,255,255,0.7);
				font-size: 1.2em;
				padding: 0.2em 1.5em;	
				width: 100%;
				display: block;
				box-sizing: border-box;
				}
			.product:hover .prod_title > span {
				background-color: #b8134b;
				color: #FFF;
				}
	
/* add product page */
	.page.addproduct {
		padding: 3em 0;
		}
		.page.addproduct .container {
			border: 1px solid #DDD;
			border-radius: 1em;
			padding: 2em;
			-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
			width: 50%;
			background-color: #FAFAFA;
			}
			.not_logged {
				
				}
				
/* view product page */
	.page.viewproduct {
		padding: 0;
		}
		.product_images, .product_desc {
			float: left;
			box-sizing: border-box;
			}
		.product_images {
			width: 63%;
			margin-right: 4%;
			}
		.product_desc {
			width: 33%;
			border: 1px solid #DDD;
			border-radius: 1em;
			padding: 2em;
			-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
			background-color: #FAFAFA;			
			}
			.product_desc h2 {}



		.voucher{
			position: absolute;
			bottom: 190px;
			right: 0;
		}	
/** RESPONSIVE */
@media only screen and (max-width: 1040px) {
  .container {
    width: 760px;
  }
	.product {width: 30.6688%}
	.product:nth-child(4n) {margin: 0 4% 2.2em 0}
	.product:nth-child(3n) {margin-right: 0}		
}
@media only screen and (max-width: 780px) {
  .container {
    width: 480px;
  }
	.product {width: 48%}
	.product:nth-child(4n),
	.product:nth-child(3n) {margin: 0 4% 2.2em 0}		
	.product:nth-child(2n) {margin-right: 0}  
}
@media only screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
	.product {
		width: 100%;
		margin-right: 0 !important
		}
}
