/** VARIABLES */
@import "css/base.less";

/** CUSTOM */

.products_list {
  margin-bottom: 40px;
}

.facebook_login {
  float: left;
  margin-right: 30px;
  margin-top: 7px;
}

.not_logged {
  min-height: 400px;
}


h1 {
  font-size: 1.7em;
  margin-bottom: 1em;
}
h1.not_bold {
  font-weight: normal;
}
h1.align_center {
  text-transform: uppercase;
  font-size: 30px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type=text] {
  border: 1px solid #000;
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
}
input[type=text]:focus {
  border-color: #b8134b;
}
textarea {
  border: 1px solid #000;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
}
textarea:focus {
  border-color: #b8134b;
}
input[type=file] {
  margin-bottom: 20px;
  cursor: pointer;
}
input[type=file]:hover {
  color: #b8134b;
}
input[type=submit] {
  margin-bottom: 20px;
  background: #b8134b;
  width: 150px;
  text-align: center;
  padding: 0 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
input[type=submit]:hover {
  background: #001a00;
}


.container {
  position: relative;
  margin: 0 auto;
  width: 1020px;
  padding: 2em 0;
}

header,
footer {
  /*background: #4dff4d;*/
}
header {
  padding: 1em 0;
  border-bottom: 1px solid #e9185f;

}
header .container {
  padding: 0;
}
header .header_left {
  float: left;
}
header .header_right {
  float: right;
  line-height: 120px;
}
.facebook_login, .black_button {
  display: inline-block;
}
.facebook_login {
  position: absolute;
  top: 55px;
  right: 73px;
}
.black_button {
  background: #b8134b;
  color: #fff;
  text-transform: uppercase;
  line-height: 4em;
  padding: 0 2em;
  border-radius: 0.7em;
}
.black_button:hover {
  background-color: #b01248;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}

ng-view {
  display: block;
  /*background-color: #EEE;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1) inset;*/
}

footer {
  background-color: #1e1e1e;
  border-top: 0.4em solid #e9185f;
}
footer * {
  color: #444;
  text-align: center;
}
footer .container {
  padding: 2em 0 4em 0;
}
.footer_logo {
  width: 120px;
}
footer .container p {
  margin: 1.5em 0;
}
footer .container p > a {
  display: inline-block;
  color: #666;
}
footer .container p > a:hover,
footer .container p > a:focus {
  color: #b8134b;
}
footer .container p > .separator {
  margin: 0 1em;
  color: #333;
}

p a {
  color: #b8134b;
}
h2 {
  font-weight: bold;
  margin: 20px 0;
}
.video_container {
  margin-bottom: 20px;
}
.product {
  width: 25%;
  float: left;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.product h2 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.product h2 a:hover {
  color: #b8134b;
}
.product a.product_img {
  height: 200px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
.product a.product_img:hover {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.logo {
  display: block;
  background: #FFF url('img/logo_web.png') no-repeat left top;
  background-size: cover;
  width: 144px;
  height: 120px;
}

/* add product page */
.page.addproduct .container {
  margin: 3em auto;
  border: 1px solid #DDD;
  border-radius: 1em;
  padding: 2em;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  width: 50%;
  background-color: #FAFAFA;
}
/** RESPONSIVE */

@media only screen and (max-width: 1040px) {
  .container {
    width: 760px;
  }
}

@media only screen and (max-width: 780px) {
  .container {
    width: 480px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}
