<footer>
    <div class="container">
        <img class="footer_logo" src="img/logo_web_mono_333.png" />
        <p>
            <a href="#">About</a>
            <span class="separator">|</span>
            <a href="#">Terms</a>
            <span class="separator">|</span>
            <a href="#">Privacy</a>
            <span class="separator">|</span>
            <a href="#">Licenses</a>
            <span class="separator">|</span>
            <a href="#">FAQ</a>
        </p>
        <p>copyright &copy; 2016</p>
    </div>
</footer>