<header ng-controller="HeaderController">
    <div class="container">
        <div class="header_left">
            <a href="/#/" class="logo" title="TEYK.IT" alt="TEYK.IT"></a>
        </div>
        <div class="header_right">
            <div class="facebook_login">
                <fb:login-button ng-if="!loggedin" scope="public_profile,email" onlogin="location.reload();">
                </fb:login-button>
                <a href="#" class="logout" ng-click="logout()" ng-if="loggedin">logout</a>
            </div>
            <a href="/#/add-product" class="black_button">Add your product</a>
        </div>
    </div>
</header> 
