<div class="container homepage" ng-cloak>
    <div class="video_container">
        <video width="100%" height="500" autoplay>
                <source src="../mov/teykit-presentation.mp4" >
                Your browser does not support the video tag.
</video> 
    </div>
    <h1 class="align_center">Featured products list</h1>

    <div class="products_list clearfix">

       
        <a href="/#/product/{{product.id}}" ng-repeat="product in featured_products" class="product">
            <div  class="product_img" style="background-image: url('{{product.image}}')"></div>
            <div class="prod_title">
				<span>{{product.title}}</span>
			</div>
        </a>	


    </div>


    <h1 class="align_center">Products list</h1>

    <div class="products_list clearfix">

        
        <a href="/#/product/{{product.id}}" ng-repeat="product in products" class="product">
            <div  class="product_img" style="background-image: url('{{product.image}}')"></div>
            <div class="prod_title">
				<span>{{product.title}}</span>
			</div>
        </a>	


    </div>
</div>
