<div class="mt40 mb40" ng-controller="AddProductController">
    <div class="container">
        <h1>Add your product</h1>

        <form name="addProductForm" ng-submit="addProductForm.$valid && addProduct()"
              enctype="multipart/form-data" ng-if="pageAccess">
            <div>
                <label>Product title</label>
                <input type="text" name="product_title" placeholder="Old table"
                       required="" ng-model="newProduct.title">
            </div>
            <div>
                <label>Product description</label>
                <textarea name="product_description"
                          placeholder="The table is pretty big, I need to get rid of it to buy a newer modern one"
                          required="" ng-model="newProduct.description"></textarea>
            </div>
            <div>
                <label>Product image</label>
                <input type="file" name="product_image" id="productImage"
                       ng-model="newProduct.image" custom-on-change="setFile" accept="image/*">

                <p ng-show="newImage" style="margin-bottom: 20px"><a href="" ng-click="cancelImage()"> Cancel</a></p>
            </div>

            <div>
                <label>(Optional) Invest any amount to find a match quicker (EUR).</label>
                <input name="amount" type="number"
                          placeholder="10" ng-model="newProduct.amount" ng-focus="showV()"/>
            </div>
                          <br/>

            <input type="submit" value="Submit">
        </form>

        <div class="voucher" ng-show="showVoucher">
            <img src="../img/Voucher Mobexpert.png" alt=""/>
            <p>You will win this voucher when the product is placed.</p>
        </div>

        <p ng-if="errMessage">{{errMessage}}</p>

        <div class="not_logged" ng-if="!pageAccess">
            <p>Please login first</p>
        </div>
    </div>
</div>
