<div class="mt40 mb40">
    <div class="container">
        <h1 class="not_bold">Product title: <strong>{{product.title}}</strong></h1>
        <img ng-src="{{product.image}}" alt="{{product.title}}"/>
        <br/>
        <br/>
        <h2>Product description</h2>
        <p>{{product.description}}</p>
        <br/>
        <a class="black_button" ng-click="getPorduct()">Get product</a>
        <br/><br/>
        <div class="voucher">
            <h1>{{getPrdTit}}</h1>
            <h2>{{getPrdTxt}}</h2>
        </div>
    </div>
</div>